---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Career from "../components/Career.astro";
import Education from "../components/Education.astro";
import Certificate from "../components/Certificate.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Footer from "../components/Footer.astro";
import { siteConfig } from "../config";
import "../styles/global.css";
---

<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={siteConfig.description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- 나눔바른고딕 폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- 나눔스퀘어 폰트 -->
    <link
      href="https://fonts.googleapis.com/css2?family=Nanum+Square:wght@300;400;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- 프리텐다드 폰트 (네이버에서 개발한 현대적인 폰트) -->
    <link
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </head>
  <body>
    <Header />
    <section>
      <Hero />
      <About />
      <Education />
      <Career />
      <WorkExperience />
      <Certificate />
      <Projects />
    </section>
    <Footer />
  </body>
</html>
